@charset "UTF-8";
/* CSS Document */
body{
	background-color:rgb(205,205,205);
}

#main{
	float:left;
}
#side{
	float:right;
	display:block;
}
.main-table tr:nth-child(even) {background: #CCC}
.main-table tr:nth-child(odd) {background: #FFF}
#newEvent{
	cursor: pointer;
	padding: 10px;
	background-color: black;
	color: white;
	border-radius: 8px;
}
#newEventCont{
	margin-top: 5px;
	padding: 5px;
	display: none;
}
